body
	header.header
		div.header__container
				div.header__logo QSOFT
				nav.nav
					ul.nav__links
						li.nav__link
							a.news-link(href="#") Новости
						li.nav__link
							a.projects-link(href="#") Проекты
						li.nav__link
							a.contacts-link(href="#") Контакты
						li.nav__link-tel
							a.tel-link(href="tel:+78888888888") +7 (888) 888-88-88	 
	main.content
		section.order
			div.order__container
					h1.order__promo Лидер в разработке интегрированных и высоконагруженных интернет-решений
					button.order__button Заказать
		section.news
			div.news__container
					h2.news__title Новости
					div.posts
						div.post
							img.post__img(src="img/post1-img.jpg" alt="")
							h3.post__title Разработка самого крупного портала на Битриксе в России
							div.post__border
							p.post__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus faucibus dapibus. Maecenas et ligula.
						div.post
							img.post__img(src="img/post2-img.jpg" alt="")
							h3.post__title Как выбрать ИТ-платформу для интернет-магазина
							div.post__border
							p.post__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam finibus, urna id.
						div.post
							img.post__img(src="img/post1-img.jpg" alt="")
							h3.post__title Мы участвуем в выставке ECOM Expo и угощаем кофе!
							div.post__border
							p.post__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consectetur pretium velit in suscipit. Aenean magna.
	footer.footer
		div.footer__container
				div.footer__promo
					p.footer__links @QSOFT, 2019 Работает на 1С-Битрикс: <a class="manage-site" href="#">Управление сайтом</a>, <a class="policy-site" href="#">Политика конфиденциальности</a>
				button.footer__button Подписаться